* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 18px;
}

nav a {
    transition: all 200ms ease-in-out;
}

nav a:hover {
    transform: scale(1.05);
    color: rgba(97, 97, 97, 0.849);
    flex-wrap: wrap;
}

a:hover {
    cursor: pointer;
    opacity: 1;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
    box-shadow: 0px 2px 5px rgb(209, 209, 209);
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#s1 {
    min-height: 90vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: rgb(236, 236, 236);
}

.botaoS1 {
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    padding: 20px 40px;
    border-radius: 30px;
    border: none;
    font-size: large;
    cursor: pointer;
    height: auto;
    width: 200px;
}

.soundP {
    position: absolute;
    top: 450px;
    left: 80px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    z-index: 1;
    gap: 40px;
}

.soundP h3 {
    font-size: 40px;
}

.promo {
    width: 100%;
    height: 55px;
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.promo h2 {
    font-size: x-large;
    color: rgb(71, 71, 71);
}

.imgDest img {
    width:100vw;
    height: auto;
}

#s2 {
    background-color: rgb(221, 221, 221);
    min-height: 40vh;
    height: auto;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
}

.botaoS2 {
    background-color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 15px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 40px;
    transition: 200ms ease-in-out;
    color: white;
    border-radius: 30px;
}

.botaoS2:hover {
    transform: scale(1.05);
    background-color: rgb(53, 53, 53);
}

#s3 {
    min-height: 65vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: rgb(245, 245, 245);
    position: relative;
    flex-wrap: wrap;
}

.lancamento {
    position: absolute;
    top: 40px;
    left: 125px;
}

.lancamento h2 {
    font-size: 34px;
    color: #333;
}

.anuncio {
    width: auto;
    height: 440px;
}

.anuncio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 3px 10px rgb(236, 236, 236);
    transition: all 200ms ease-in-out;
    border-radius: 20px;
}

.anuncio img:hover {
    transform: scale(1.1);
}

#s4 {
    min-height: 40vh;
    background-color: #333;
    display: flex;
    align-items: center;
    gap: 120px;
    padding-left: 80px;
}

.whatsapp {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.whatsapp a{
    font-size: 72px;
}

.informacoes {
    color: white;
    max-width: 500px;
    line-height: 1.6;
}